p > a {
  display: inline-block;
  position: relative;
  color: #393b49;
  text-decoration: none;
  padding: 0em 0.05em;
  border-bottom: 2px solid #333333;
}

p > a:hover {
  color: #efefef;
}

p > a:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #393b49;
  z-index: -1;
  transition: all 0.1s cubic-bezier(0.000, 0.590, 1.000, 0.260);
}

p > a:hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #393b49;
  z-index: -1;
}
